body {
	font-family: 'Lato', sans-serif;
}
/**********/
/* Header */
/**********/
.header {
	background: linear-gradient(45deg, rgb(7, 7, 7) 0%, rgb(88, 88, 88) 50%, rgb(10, 10, 10) 100%);
}
.header .company-cap {
	color: rgb(245, 245, 245);
	font-family: 'Permanent Marker', cursive;
	text-align: center;
	text-transform: uppercase;
}
/***********/
/* Nav-top */
/***********/
.nav-top {
	background: rgb(245, 245, 245);
	margin-top: 10px;
}
.nav-top .nav-btn {
	color: rgb(56, 59, 64);
	display: inline-block;
	font-weight: bold;
	text-transform: uppercase;
	padding: 10px;
}
.nav-top .nav-btn:hover {
	color: rgb(128, 115, 115);
	text-decoration: none;
}
.nav-top .dropdown-menu {
	background: rgb(255, 255, 255);
	border: none;
}
.nav-top .dropdown-item {
	font-weight: 600;
	animation: myDropdown 0.2s;
}
.nav-top .dropdown-item:hover {
	color: rgb(128, 115, 115);
}
.nav-top .dropdown-item:active {
	background: rgba(245, 245, 245, 0.5);
}
@keyframes myDropdown {
	from {
		padding: 0 0;
	}
	to {
		padding: 0.25rem 1.5rem;
	}
}
/***************/
/* Description */
/***************/
.company-description {
	background: linear-gradient(45deg, rgb(10, 10, 10) 0%, rgb(100, 100, 100) 50%, rgb(10, 10, 10) 100%);
	margin-top: 10px;
}
.company-description .info {
	color: rgb(255, 255, 255);
	font-family: 'Permanent Marker', 'Quicksand', sans-serif;
}
.slider-for img:focus, .slider-nav img:focus {
	outline: none;
}
.fa-angle-double-left {
	color: rgb(199, 199, 199);
	position: absolute;
	left: 1%;
	top: -50%;
	cursor: pointer;
	z-index: 123;
}
.fa-angle-double-right {
	color: rgb(199, 199, 199);
	position: absolute;
	right: 1%;
	top: -50%;
	cursor: pointer;
	z-index: 123;
}
.fa-angle-double-left:hover, .fa-angle-double-right:hover {
	color: rgb(255, 255, 255);
}
/************/
/* Moto-cap */
/************/
.moto-caption {
	background: rgb(245, 245, 245);
	margin-top: 10px;
}
/*************/
/* Moto-info */
/*************/
.moto-info {
	background: linear-gradient(45deg, rgb(7, 7, 7) 0%, rgb(88, 88, 88) 50%, rgb(10, 10, 10) 100%);
	margin-top: 10px;
}
.moto-info .card {
	border: none;
	color: rgb(255, 255, 255);
}
.moto-info .card-img-overlay {
	background: rgba(97, 97, 97, 0.6);
	text-align: center;
}
.moto-info .btn-outline-light {
	border-top: none;
	border-bottom: none;
}
/**************/
/* Moto-store */
/**************/
.moto-store {
	background: rgba(195, 195, 195, 0.5);
	margin-top: 10px;
}
.moto-store form {
	font-family: 'Permanent Marker', cursive;
}
.moto-store label {
	margin-top: 0.5rem;
}
.moto-store .custom-select {
	border-top: none;
	border-right: none;
}
.moto-store .custom-select:focus {
	border-color: rgba(195, 195, 195, 0.5);
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(195, 195, 195, 0.5);
}
.moto-store .bg-store {
	background: rgb(225, 225, 225);
}
.moto-store .card {
	border: none;
	text-align: center;
}
.moto-store .card-text {
	color: rgb(5, 135, 5);
	font-size: 1.5rem;
}
/* One goods */
.moto-description {
	background: rgba(203, 203, 203, 0.5);
	margin-top: 10px;
}
.moto-description .m-img {
	background-size: cover;
	text-align: center;
	position: relative;
	min-height: 300px;
}
.moto-description .m-text {
	background: rgba(238, 238, 238, 0.8);
	font-family: 'Permanent Marker', cursive;
	font-size: 2.5rem;
	padding: 10px;
	margin: 0;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
}
.moto-description .m-buy {
	background: rgba(238, 238, 238, 0.8);
	border: none;
	color: rgb(1, 42, 4);
	cursor: pointer;
	font-size: 1.5rem;
	padding: 10px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 0);
}
.moto-description .m-buy:hover {
	background: rgba(203, 203, 203, 0.7);
}
.moto-description .m-buy:focus {
	outline: 0;
}
.moto-description .m-border {
	border-bottom: 1px dotted rgb(177, 163, 163);
	margin: 0;
}
.moto-description p {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
.moto-description .modal {
	position: fixed;
	top: 5%;
}
.moto-description .modal .form-control:focus {
	border-color: rgba(195, 195, 195, 0.5);
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(195, 195, 195, 0.5);
}
/************/
/* Motonews */
/************/
.motonews-all {
	background: rgba(203, 203, 203, 0.3);
	margin-top: 10px;
}
.motonews-all .show-news {
	color: rgb(83, 83, 83);
	font-size: 1.5rem;
	font-weight: bold;
}
.motonews-all .show-news:hover {
	color: rgb(143, 143, 143);
	text-decoration: none;
}
/* One news */
.motonews-one {
	background: rgba(203, 203, 203, 0.3);
	margin-top: 10px;
}
/***************/
/* Moto-salons */
/***************/
.moto-salons {
	background: rgba(203, 203, 203, 0.5);
	margin-top: 10px;
}
.moto-salons .salon-overlay {
	font-style: italic;
	font-size: 3rem;
	text-align: center;
	position: relative;
	min-height: 300px;
}
.moto-salons .salon-text {
	background: rgba(238, 238, 238, 0.8);
	border-radius: 1%;
	padding: 10px;
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -30%);
}
.img-focus:focus {
	outline: none;
}
/************/
/* Contacts */
/************/
.company-contact {
	background: rgba(161, 161, 161, 0.2);
	margin-top: 10px;
}
.company-contact .contact-img {
	background: url('../img/contacts.jpg') no-repeat center;
	background-size: cover;
	min-height: 420px;
}
.company-contact .contact-form {
	background: rgba(97, 97, 97, 0.5);
	position: absolute;
	right: 5%;
	max-width: 520px;
	margin: 15px;
	padding: 15px;
}
.cont-name, .cont-email, .cont-comment {
	background: rgba(255, 255, 255, 0.8);
	border: none;
	width: 100%;
	margin: 5px;
	padding: 10px;
}
.cont-name:focus, .cont-email:focus, .cont-comment:focus {
	background-color: rgb(226, 226, 226);
	outline: none;
}
.company-contact .cont-btn {
	background-color: rgb(0, 148, 0);
	border: none;
	color: rgb(255, 255, 255);
	cursor: pointer;
	width: 100%;
	margin: 5px;
	padding: 10px;
	opacity: 0.9;
}
.company-contact .cont-btn:hover {
	opacity: 1;
}
/* Tab panes */
.company-contact .nav-link {
	color: rgb(141, 141, 141);
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
	margin: 5px;
}
.company-contact .nav-link:hover {
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
/* Google maps */
.company-contact iframe {
	border: none;
	min-height: 360px;
}
/**********/
/* Footer */
/**********/
.footer {
	background: rgb(243, 243, 243);
	text-align: center;
	margin-top: 10px;
}
.footer .social-icon {
	display: inline-block;
	margin: 3px;
	padding: 3px;
}
.footer .social-icon:hover {
	transform: skewY(20deg);
}